body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../phpto/images.jpg);
background-size: auto;



}

input {
    width: 150px;
    height: 20px;
    border-radius: 60px;
    border: 2px solid black;
}

h2 {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
}

button {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

p {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

.photo-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top: 20px;
    background-color: rgb(4, 114, 40);
width: 400px;
    height: 350px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 4px rgb(0, 0, 0), inset -1px -1px 4px rgb(0, 0, 0);
}

.true {
    visibility: hidden;
}

.stats{
padding-left: 15px;
    padding-top: 1px;
}

.listPets {
    align-items: center;
}


.stats-item{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-shadow: 1.5px 1px 7px rgb(0, 0, 0);
    padding-top: 1px;
}
.modal-window{
    position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.modal-window .over {
    position: absolute;
    top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
opacity: 0.7;
z-index: 0;
}

.mobalADD {
    position: relative;
z-index: 2;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,  .5);
    padding: 30px;
}
.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background:  none;
    opacity: 0.5;
}

.btn-close:hover {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background:  none;
    opacity: 1;
}






.boost-header{
    padding-top: 0;
    margin-top: 0;
    position: fixed;
top: 0;
    width: 100%;
    height: 100px;
    background-color: #ceffcc;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-sing-in-modal {
    background-color: #ceffcc;
    border: 0;
}

.button-Sing-up-modal{
    background-color: #ceffcc;
    border: 0;
}

.sing-box {
    margin-left: 800px;
}

.btn-box{
    display: flex;
    gap: 10px;
}

.button-addopen-modal{
    width: 170px;
    height: 40px;
    border: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgb(139, 37, 37);
}

.button-delete{
    height: 40px;
    width: 170px;
    border: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgb(139, 37, 37);
}
.button-onovel-modal{
    height: 40px;
    width: 170px;
    border: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgb(139, 37, 37);
}

.btnADD {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: #e6e6e6;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.btnADD2 {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: #e6e6e6;
    border-radius: 40px;
    margin-left: 35px;

    margin-top: 50px;
}
.btnADD-box {
    display: flex;
}
.dost-bb {
gap: 30px;
    margin-right: 180px;
    display: flex;
}
.ImgUser {
    border-radius: 60px;
}

.modal-window2{
    position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.modal-window2 .over {
    position: absolute;
    top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
opacity: 0.7;
z-index: 0;
}

.mobalADD2 {
    position: relative;
z-index: 2;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,  .5);
    padding: 30px;
}
.btn-close2 {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background:  none;
    opacity: 0.5;
}

.btn-close2:hover {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background:  none;
    opacity: 1;
}
